   {% load static %}
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire de contact </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
 <header>
  <div class="wrapper">

        <h2>Message Envoyé</h2>
    <p>Merci, nous avons reçu votre message et nous vous répondrons très prochainement à l'adresse e-mail suivante : {{ email }}.</p>
   </div>
 </header>


</body>
</html>