 {% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">

        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Postez votre mission</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label">Votre prénom</label>
                            {{ form.first_name }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label">Votre nom</label>
                            {{ form.last_name}}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.name.id_for_label }}" class="form-label">Nom de l'entreprise</label>
                            {{ form.name }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email professionnel</label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.contact_info.id_for_label }}" class="form-label">Numéro de téléphone</label>
                            {{ form.contact_info }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}