 {% extends 'base.html' %}
{% load static %}

{% block title %}Liste des missions{% endblock %}

{% block content %}
<style>
     :root {
        --primary-color: #3498db;
        --secondary-color: #2c3e50;
        --accent-color: #e74c3c;
        --background-color: #ecf0f1;
        --text-color: #34495e;
        --success-color: #2ecc71;
        --danger-color: #e74c3c;
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: 'Roboto', sans-serif;
    }

    .mission-list-item {
        border: none;
        margin-bottom: 30px;
        padding: 25px;
        border-radius: 15px;
        transition: all 0.3s ease;
        background-color: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
    }

    .mission-list-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    }
    .mission-list-item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: var(--primary-color);
    }

    .text-primary {
        color: var(--primary-color) !important;
    }

    .text-secondary {
        color: var(--secondary-color) !important;
    }

    .badge {
        font-size: 0.9rem;
        padding: 8px 12px;
        border-radius: 50px;
        font-weight: 500;
    }

    .badge-primary {
        background-color: var(--primary-color);
        color: #fff;
    }

    .badge-secondary {
        background-color: var(--secondary-color);
        color: #fff;
    }
    .badge-success {
        background-color: var(--success-color);
        color: #fff;
    }
     .badge-danger {
        background-color: var(--danger-color);
        color: #fff;
    }
    .company-name:hover {
    color: var(--primary-color);
    text-decoration: none;
}

    .company-name {
        font-weight: 700;
        color: var(--secondary-color);
        font-size: 1.8rem;
        margin-bottom: 15px;
        letter-spacing: -0.5px;
        transition: color 0.3s ease;
}

    .mission-title {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 2.2rem;
    margin-bottom: 10px;
}
 .btn-apply {
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 50px;
    background-color: var(--accent-color);
    border: none;
    transition: all 0.3s ease;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    }
      .btn-apply:hover {
        background-color: #c0392b;
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    .mission-description {
        color: var(--text-color);
        margin-bottom: 20px;
        line-height: 1.6;
    }
    .btn-apply-disabled {
        font-size: 1rem;
        padding: 12px 24px;
        border-radius: 50px;
        background-color: #95a5a6; /* Couleur grise pour indiquer l'indisponibilité */
        border: none;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: not-allowed;
        opacity: 0.7;
}

    .mission-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .btn-info {
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 50px;
        background-color: var(--primary-color);
        border: none;
        transition: all 0.3s ease;
        color: #fff;
    }

    .btn-info:hover {
        background-color: var(--secondary-color);
        transform: translateY(-2px);
    }

    .sidebar-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 20px;
        color: var(--secondary-color);
    }

    .list-group-item {
        border: none;
        padding: 10px 0;
        background-color: transparent;
    }

    .list-group-item a {
        color: var(--text-color);
        transition: all 0.3s ease;
    }

    .list-group-item a:hover {
        color: var(--primary-color);
        text-decoration: none;
    }

    @media (max-width: 991px) {
        .sidebar-title {
            font-size: 1.3rem;
        }
        .company-name {
            font-size: 1.8rem;
        }
        .btn-apply-disabled {
            font-size: 0.875rem; /* Réduit la taille du texte */
            padding: 8px 16px; /* Réduit l'espace interne du bouton */
            border-radius: 40px; /* Réduit légèrement le rayon des coins arrondis */
        }
        .badge {
            font-size: 0.8rem;
            padding: 6px 10px;
        }
    }




    @media (max-width: 575px) {
        .container {
            padding-left: 10px;
            padding-right: 10px;
        }
        .mission-list-item {
            padding: 15px;
            margin-bottom: 20px;
        }
        .company-name {
            font-size: 1.3rem;
        }
        .mission-description {
            font-size: 0.8rem;
        }
        .badge {
            font-size: 0.7rem;
            padding: 5px 8px;
        }
        .btn-info {
            font-size: 0.8rem;
            padding: 6px 12px;
        }
         .btn-apply-disabled {
            font-size: 0.75rem; /* Réduit davantage la taille du texte */
            padding: 6px 12px; /* Réduit davantage l'espace interne du bouton */
            border-radius: 30px; /* Réduit davantage le rayon des coins arrondis */
    }
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-4">
            <h5 class="sidebar-title">Type de mission</h5>
            <ul class="list-group list-unstyled">
                <li class="list-group-item">
                    <a href="{% url 'mission_list' %}">Toutes</a>
                </li>
                {% for cat in specialities %}
                <li class="list-group-item">
                    <a href="{% url 'mission_list_filter' cat.name %}">{{ cat.get_human_readable_name|capfirst }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 col-md-8">
            <h1 class="mb-5 text-primary">Liste des missions {% if speciality %} {{ speciality.get_human_readable_name }}{% endif %}</h1>
            <div class="mission-list">
                {% for mission in missions %}
                 <div class="mission-list-item">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="text-primary mb-0">
                            <a href="{% url 'mission_detail' mission.pk %}" class="company-name">{{ mission.company.name }}</a>
                        </h5>

                    </div>

                    <h2 class="mission-title">{{ mission.title }}</h2>
                    <p><strong>Date :</strong> {{ mission.date }}</p>
                    <p><strong>Fourchette de prix :</strong> {{ mission.cash_amount_min }} € - {{mission.cash_amount_max}} €</p>

                    <p class="mission-description"><strong>Description :</strong><br>
                        {{ mission.description|slice:":100" }}...
                    </p>
                    <div class="mission-footer">
                        {% if mission.specialty %}
                        <a href="{% url 'mission_list_filter' mission.specialty.name %}" class="badge badge-primary">{{ mission.specialty.get_human_readable_name|capfirst }}</a>
                        {% else %}
                        <span class="badge badge-secondary">Aucune spécialité</span>
                        {% endif %}
                        {% if mission.disponible %}
                            <a href="{% url 'mission_detail' mission.pk %}" class="btn btn-apply">Postuler</a>
                        {% else %}
                            <button class="btn btn-apply-disabled" disabled>Candidature fermée</button>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                <div class="alert alert-info">
                    <p class="text-center mb-0">Aucune mission n'est enregistrée.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}