   {% extends 'base.html' %}
{% load static %}
{% block title %}
Liste des missions
{% endblock %}

{% block content %}
<style>
    .mission-list-item {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 10px;
        transition: all 0.3s ease;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .mission-list-item:hover {
        background-color: #f8f9fa;
        transform: translateY(-5px);
    }

    .text-primary {
        color: #007bff !important;
    }

    .text-secondary {
        color: #6c757d !important;
    }

    .badge-secondary, .badge-primary {
        font-size: 1rem;
    }

    .company-name {
        font-weight: bold;
         color: #1CDDDD;
        font-size: 2rem;
        margin-bottom: 10px;


    }

    .mission-description {
        color: #555;
        margin-bottom: 15px;
    }

    .mission-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-info {
        font-size: 0.9rem;
        padding: 5px 10px;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-3">
            <h5 class="text-primary">Type de mission</h5>
            <ul class="list-group list-unstyled">
                <li class="list-group-item">
                    <a href="{% url 'mission_list' %}" class="badge badge-secondary">Toutes</a>
                </li>
                {% for cat in specialities %}
                <li class="list-group-item">
                    <a href="{% url 'mission_list_filter' cat.name %}" class="badge badge-secondary">{{ cat.get_human_readable_name|capfirst }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9">
            <h1 class="mb-4 text-primary">Liste des missions {% if speciality %}  {{ speciality.get_human_readable_name }}{% endif %}</h1>
            <ul class="list-group">
                {% for mission in missions %}
                <li class="list-group-item mission-list-item mb-4 shadow-sm">
                    <h5 class="text-primary">
                        <a href="{% url 'mission_detail' mission.pk %}" class="btn btn-info">{{ mission.company.name  }}</a>
                    </h5>
                    <p class="company-name" >{{  mission.title }}</p>
                    <p><strong>Date :</strong> {{ mission.date }}</p>
                    <p><strong>Type de paiement :</strong>
                        {% if mission.payment_type == 'cash' %}
                            Le paiement sera effectué en argent (€).
                        {% else %}
                            Le paiement sera effectué sous forme de parts de l'entreprise (%).
                        {% endif %}
                    </p>

                    <p class="mission-description"><strong>Description :</strong><br>
                        <span>{{ mission.description|slice:":70" }}...</span>
                    </p>
                    <div class="mission-footer">
                        {% if mission.specialty %}
                        <a href="{% url 'mission_list_filter' mission.specialty.name %}" class="badge badge-primary">{{ mission.specialty.get_human_readable_name|capfirst }}</a>
                        {% else %}
                        <span class="badge badge-secondary">Aucune spécialité</span>
                        {% endif %}
                        <a href="{% url 'mission_detail' mission.pk %}" class="btn btn-info">Postuler</a>
                    </div>
                </li>

                {% empty %}
                <li class="list-group-item">
                    <p class="text-center">Aucune mission n'est enregistrée.</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}