   {% extends 'base.html' %}
{% load static %}
{% block title %}
Liste des Étudiants
{% endblock %}

{% block content %}
<style>
    .card-student {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-radius: 10px;
        transition: all 0.3s ease;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-student:hover {
        background-color: #f8f9fa;
        transform: translateY(-5px);
    }

    .text-primary {
        color: #007bff !important;
    }

    .badge-secondary, .badge-primary, .badge-warning, .badge-info {
        font-size: 1rem;
    }

    .card-title a {
        text-decoration: none;
    }

    .card-title a:hover {
        text-decoration: underline;
    }

    .card-text {
        color: #555;
        margin-bottom: 10px;
    }

    .text-info {
        font-weight: bold;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-3">
            <h5 class="text-primary">Spécialités</h5>
            <ul class="list-group list-unstyled">
                <li class="list-group-item">
                    <a href="{% url 'student_list' %}" class="badge badge-secondary">
                        toutes
                    </a>
                </li>
                {% for cat in specialities %}
                <li class="list-group-item">
                    <a href="{% url 'student_list_filter' cat.name %}" class="badge badge-secondary">
                        {{ cat.get_human_readable_name|capfirst }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9">
            <h1 class="mb-4 text-primary">Liste des Étudiants {% if speciality %}  {{ speciality.get_human_readable_name }}{% endif %}</h1>
            <div class="row">
                {% for student in students %}
                <div class="col-md-4">
                    <div class="card card-student mb-4 shadow-sm">
                        {% if student.photo %}
                        <img src="{{ student.photo.url }}" class="img-fluid" alt="{{ student.user.first_name }} {{ student.user.last_name }}">
                        {% else %}
                        <img src="{% static 'img/student_preview_rev_1.png' %}" class="img-fluid" alt="{{ student.user.first_name }} {{ student.user.last_name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'student_detail' student.pk %}" class="text-primary">{{ student.user.first_name }} {{ student.user.last_name }}</a></h5>
                            <p class="card-text">
                                <strong>Filière :</strong> <span class="badge badge-warning">{{ student.program.name }}</span>
                            </p>
                            <p class="card-text">
                                <strong>École :</strong> <span class="badge badge-info">{{ student.school.name }}</span>
                            </p>
                            <p class="card-text">
                                <strong>Description :</strong><br>
                                <span class="text-muted">{{ student.description|slice:":70" }}...</span>
                                <a href="{% url 'student_detail' student.pk %}" class="text-info">[En savoir plus ...]</a>
                            </p>
                            {% if student.specialty %}
                            <a href="{% url 'student_list_filter' student.specialty.name %}" class="badge badge-primary">{{ student.specialty.get_human_readable_name|capfirst }}</a>
                            {% else %}
                            <span class="badge badge-secondary">Aucune spécialité</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-md-12">
                    <p class="text-center">Aucun étudiant n'est enregistré.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}