 body {
    background-color: #f8f9fa; /* Couleur de fond légère */
}

.navbar {
    background-color: #007bff; /* Couleur de fond de la navbar */
}

.navbar-brand, .nav-link {
    color: #007bff !important; /* Couleur de texte blanche */
}

.nav-link:hover {
    color: #ffdd57 !important; /* Couleur de texte au survol */
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: bold;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour les cartes */
    margin-bottom: 20px;
}

.card-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #007bff; /* Couleur de texte bleue */
}

.card-text {
    font-size: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 20px;
}

.card-header {
    background-color: #007bff; /* Couleur de fond de l'en-tête de la carte */
    color: #ffffff; /* Couleur de texte blanche */
    font-weight: bold;
}

.imgsmall {
   width: 1px;
   height: auto;

}



.card-img-top {
    object-fit: contain;
    height: 200px;
}


.badge-info {
    background-color: #17a2b8;
}

.text-muted a {
    text-decoration: none;
    color: #6c757d;
}

.text-muted a:hover {
    color: #5a6268;
}

.container {
    margin-top: 20px;
}

.card-header {
    background-color: #007bff; /* Card header background color */
    color: #ffffff; /* White text color */
    font-weight: bold;
}

.text-muted {
    color: #6c757d !important;
}

.list-group-item {
    border: none;
    padding: 10px;
    background-color: #f8f9fa;
}

.list-group-item:hover {
    background-color: #e9ecef;
}


.nav-item.active .nav-link {
    border-bottom: 2px solid #007bff; /* Ajouter une bordure en bas pour souligner l'élément actif */
}


.card-body {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}




.btn-outline-primary {
    margin-top: 10px;
}