   {% extends 'base.html' %}

{% block title %}
    Modifier le profil
{% endblock %}
<style>
    /* custom.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #343a40;
}

.card-header {
    font-size: 1.5rem;
}

.card-body {
    padding: 20px;
}

.card {
    border-radius: 10px;
}

.btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}

.form-control-file {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
}

.form-control {
    border-radius: 5px;
    margin-bottom: 10px;
}

.needs-validation .form-control:invalid {
    border-color: #dc3545;
}

.needs-validation .form-control:valid {
    border-color: #28a745;
}

.text-center {
    text-align: center;
}

</style>
{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Modifier votre profil</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Informations Utilisateur</h2>
            </div>
            <div class="card-body">
                {{ user_form.as_p }}
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header bg-secondary text-white">
                <h2 class="mb-0">Informations Étudiant</h2>
            </div>
            <div class="card-body">
                {{ student_form.as_p }}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success mt-4">Sauvegarder</button>
        </div>
    </form>
</div>
{% endblock %}