 {% extends 'base.html' %}
{% load static %}

{% block title %}Liste des Posts{% endblock %}

{% block content %}
<style>
    :root {
        --primary-color: #3498db;
        --secondary-color: #2c3e50;
        --accent-color: #e74c3c;
        --background-color: #ecf0f1;
        --text-color: #34495e;
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: 'Roboto', sans-serif;
    }

    .card-post {
        border: none;
        margin-bottom: 30px;
        border-radius: 15px;
        transition: all 0.3s ease;
        background-color: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .card-post:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    }

    .card-title a {
        color: var(--primary-color);
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .card-title a:hover {
        color: var(--secondary-color);
        text-decoration: none;
    }

    .badge-info {
        background-color: var(--primary-color);
        color: #fff;
    }

    .sidebar-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 20px;
        color: var(--secondary-color);
    }

    .list-group-item {
        border: none;
        padding: 10px 0;
        background-color: transparent;
    }

    .list-group-item a {
        color: var(--text-color);
        transition: all 0.3s ease;
    }

    .list-group-item a:hover {
        color: var(--primary-color);
        text-decoration: none;
    }

</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9 col-md-8">
            {% for post in posts %}
                <div class="card card-post mb-4">
                    <div class="card-body">
                     {% if post.images.first %}
                        <img src="{{ post.images.first.image.url }}" alt="{{ post.images.first.caption }}" class="img-fluid mb-3 post-thumbnail">
                        {% endif %}
                        <h3 class="card-title"><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h3>
                        <small class="text-muted">Posté le {{ post.created_at }}</small>
                        <hr>
                        <p class="card-text">
                            {{ post.introduction|truncatewords:50 }}
                            <a href="{% url 'post-detail' post.pk %}" class="text-info">[Lire la suite]</a>
                        </p>
                        <p>
                        {% for link in post.links.all %}
                        <a href="{{ link.url }}" class="btn btn-primary" target="_blank">{{ link.text }}</a>
                        {% endfor %}
                        </p>
                        <a href="{% url 'post-list-category' post.category.name|default:'all' %}" class="badge badge-info">
                            {{ post.category.name|default:"Non catégorisé"|capfirst }}
                        </a>
                    </div>
                </div>
            {% empty %}
            <div class="text-center">
                <p class="display-1">:-(</p>
                <h3 class="mt-4">
                    Désolé, aucun post pour la catégorie <span class="badge badge-info">{{ category.name }}</span>
                </h3>
            </div>
            {% endfor %}
        </div>

        <div class="col-lg-3 col-md-4">
            <h5 class="sidebar-title">Catégories</h5>
            <ul class="list-group list-unstyled">
                {% for cat in categories %}
                <li class="list-group-item">
                    <a href="{% url 'post-list-category' cat.name %}">{{ cat.name|capfirst }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
